*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

header{
    background-color: transparent;
    /* background-color: #F7F6FA; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgb(151, 212, 227);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    border: 0.5px black;
}